extends ../layouts/common.pug

block add-new
	hr
	a(href="/user") Back to main
	hr
	div.container.d-flex.flex-column.col-md-4
		h1 create
		if error
			each err in error
				.alert.alert-danger=err
		form(action="/user/create",method="POST",enctype="multipart/form-data")
			h4="ID: "
				if(userInput)
					span=userInput.id
				else
					span=idNew
			input(name="id", type="text", value=userInput?userInput.id:"",hidden)
			h4 Name
			input(name="name", type="text", value=userInput?userInput.name:"")
			h4 Username
			input(name="username", type="text", value=userInput?userInput.username:"")
			h4 Password
			input(name="password", type="text", value=userInput?userInput.password:"")
			h4 Address
			input(name="address", type="text", value=userInput?userInput.address:"")
			h4 Avatar
			input(name="avatar", type="file")
			hr
			input.btn.btn-success.mt-4(type="submit",value="Create")
